.image-maison {
    max-width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.image-pierre {
    max-width: 20%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.conteneur-maison {
    display: flex;
    justify-content: center;
}

.conteneur-pierre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}